<div class="container mt-5">
    <h1 class="text-center">About This Application</h1>
    <div class="mt-4">
        <p class="text-dark">
            I enjoy consuming various types of stories, not only through books but also via movies and games. After delving into these tales, I frequently feel the urge to share my reflections. However, depending on the type and content of the story, I often find it challenging to locate friends nearby to discuss with. As a result, I'm contemplating creating something akin to a blog, where I can document my impressions based on the works I've experienced.
        </p>
    </div>
</div>
