<h1>{{title}}</h1>
<p>Welcome to the Create Page</p>

<form method="post" class="mt-3">
    <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="title" required/>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="works" class="col-sm-2 col-form-label">Title of works:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="works" id="works" required/>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="type" class="col-sm-2 col-form-label">Type of works:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="type" id="type" required/>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="content" class="col-sm-2 col-form-label">Reflection:</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="content" id="content" required rows="4"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </div>
</form>
