<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to our Reflection Recording Application!</h1>
        <p class="lead">Recording & Sharing</p>
        <hr class="my-4">
        <p>This application is design in the purpose of recording and sharing the reflection after enjoying a story</p>
        <a class="btn btn-dark btn-lg" href="/reflections" role="button">View the reflections</a>
    </div>
</div>
