<h1 class="my-4">Reflection Detail</h1>

<div class="card mb-4">
    <div class="card-header">
        Reflection Information
    </div>
    <div class="card-body">
        <h5 class="card-title">Title: {{reflection.title}}</h5>
        <p class="card-text"><strong>Title of Works:</strong> {{reflection.works}}</p>
        <p class="card-text"><strong>Type of Works:</strong> {{reflection.type}}</p>
        <p class="card-text"><strong>Reflection:</strong> {{reflection.content}}</p>
    </div>
</div>

<a href="/reflections" class="btn btn-dark">Back to List</a>

